.vertical-separator {
    border-left: 1px solid rgb(102, 102, 102);
    top: 0;
    bottom: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.no-project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 4;
    padding: 5%;
}

.no-project-title {
    color: rgb(204, 205, 206);
    display: flex;
    flex-direction: row;
}

.no-project-title > * {
    margin-left: 5%;
    margin-right: 5%;
}

.project-container {
    flex: 1;
    background-color: rgba(37, 37, 38, 1);
}

.project-button-container {
    display: flex;
    flex-direction: row;
}

.project-button-container > * {
    border-radius: 25%;
    padding: 10%;
    margin: 2%;
    background-color: rgba(37, 37, 38, 1);
    cursor: pointer;
    color:rgb(204, 205, 206);
}

.task-container {
    flex: 4;
}

.project-title {
    color: rgb(204, 205, 206);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4vh;
    padding-left: 3%;
    padding-right: 3%;
}

.title-bar > * {
    margin-left: 5%;
    margin-right: 5%;
}

.project-list {
    height: calc(100vh - 4vh);
    overflow-y: scroll;
}

.project {
    display: flex;
    justify-content: start;
    padding-left: 5%;
    padding-top: 7%;
    padding-bottom: 7%;
    border-top: 1px solid rgb(102, 102, 102);
    border-bottom: 1px solid rgb(102, 102, 102);
    color: rgb(204, 205, 206);
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
}

.task-title {
    background-color: rgba(37, 37, 38, 1);
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(102, 102, 102);
}

.task-title > small {
    color: rgb(204, 205, 206);
    padding-left: 3%;
    padding-right: 3%;
}

.task-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: calc(100vh - 3vh);
}

.width-full {
    width: 100%;
}

.task-wrapper-title {
    background-color: rgba(37, 37, 38, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    color: rgb(204, 205, 206);
}

.task-wrapper-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    background-color: rgb(102, 102, 102);
    border-radius: 15px;
    margin: 2%;
    padding: 5%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 34vw;
}

.task > * {
    color: rgb(204, 205, 206);
}

.task-desc {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}